html {
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

input, textarea {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/*header start*/
.header {
    background-image: url(../img/header_img.png);
    height: 480px;
    background-image: url(../img/header_img.png);
    background-size: 100% ;
    background-repeat: no-repeat;
}

.header__inner {
    color: #ffffff;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 51%);
    height: 80px;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__menu-item {
    margin-right: 20px;
}

.header__phone {
    font-size: 18px;
}

.header__phone-title {
    text-align: end;
}

/* animate */
.header__menu-item a:hover, .header__phone a:hover{
    transition: all 0.6s ease-out;
    color: #ff8080;
}

.header__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    align-content: space-between;
    height: 480px;
}
.header__about-title {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__about-subtitle {
    font-size: 28px;
}
/*header end*/

/*why-we start*/
.why-we {
    margin: 150px 0;
}
.why-we__inner {
    
    color: rgb(19, 17, 17);
    text-align: center;
}
.why-we__title {
    font-size: 30px;
    font-weight: 700;
}
.blue-line {
    width: 50px;
    height: 5px;
    background-color: rgb(47, 80, 153);
    margin: 15px auto;
}

.why-we__descr {
    font-size: 20px;
    width: 615px;
    margin: 0 auto;
}
.why-we__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.why-we__block-item {
    width: 240px;
    height: 150px;
    margin: 20px;
}

.why-we__block-item img{
    width: 100px;
}
.why-we__block-item__descr {
    color: rgb(105, 105, 105);
    text-align: center;
}
/*why-we end*/
/*map start*/

/*map end*/
